<-- this stuff is outdated. Use instead: roslaunch iai_maps iai_maps.launch -->

<launch>
  <param name="kitchen_description" 
         command="$(find xacro)/xacro.py '$(find iai_maps)/kitchen/ias_kitchen.urdf.xml'" />

  <node name="map_server" type="map_server" pkg="map_server"
        args="$(find iai_maps)/maps/map.yaml" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog">
    <param name="initial_package" value="iai_maps" />
  </node>
</launch>
