<launch>
  <rosparam>
    household_objects_database:
      database_host: pr2a
      database_port: 5432
      database_user: willow
      database_pass: willow
      database_name: household_objects
  </rosparam>

  <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
        respawn="true" output="screen" />
</launch>
