<launch>
  <include file="$(find spatial_relations_demo)/launch/maps_and_robot.launch" />

  <param name="robot_description_semantic"
         textfile="$(find pr2_moveit_config)/config/pr2.srdf" />

  <group ns="moveit">
    <remap from="robot_description" to="/robot_description" />
    <remap from="robot_description_semantic" to="/robot_description_semantic" />
    <include file="$(find spatial_relations_demo)/launch/moveit.launch" />
  </group>

  <node pkg="tf2_ros" type="buffer_server" name="tf_buffer">
    <param name="buffer_size" value="240"/>
  </node>

</launch>
