
<launch>
  <include file="$(find dyn_obj_store)/table_pipeline.launch"/>
  <node name="table_costmap" pkg="polygonal_costmap" type="polygonal_costmap">
    <remap from="/table_costmap/input" to="/table_object_detector_passive/semantic_polygonal_map"/>
    <param name="resolution" value="0.05"/>
  </node>
</launch>
