<launch>
    <arg name="upload" default="true"/>

    <!-- uploading the shelf to the param server -->
    <param name="shelf_description" command="$(find xacro)/xacro.py
        '$(find cram_pr2_shopping_demo)/resource/shelf.urdf'"/>
    <!-- uploading basket urdf to param server -->
    <param name="basket_description" command="$(find xacro)/xacro.py
        '$(find cram_pr2_shopping_demo)/resource/basket_urdf.urdf'"/>

    <node pkg="tf" type="static_transform_publisher" name="shelf_link_broadcaster"
        args="0 0 0 0 0 0 /map /shelf_origin 25"></node>
    <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="shelf_joint_state_publisher" output="screen">
        <remap from="robot_description" to="shelf_description"/>
        <param name="rate" value="25"/>
        <param name="use_gui" value="False"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="shelf_state_publisher" output="screen">
        <param name="publish_frequency" value="25"/>
        <remap from="robot_description" to="shelf_description"/>
    </node>


    <!-- Uploading the kitchen to the param server -->
    <param name="kitchen_description" command="$(find xacro)/xacro.py
        '$(find iai_kitchen)/urdf_obj/iai_kitchen_python.urdf.xacro'"/>
    <node pkg="tf" type="static_transform_publisher" name="iai_kitchen_room_link_broadcaster"
        args="0 0 0 0 0 0 map iai_kitchen/world 25"></node>
    <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="kitchen_joint_state_publisher" output="screen">
        <remap from="robot_description" to="kitchen_description"/>
        <param name="rate" value="25"/>
        <param name="use_gui" value="False"/>
        <remap from="/joint_states" to="/kitchen/joint_states" />
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="kitchen_state_publisher" output="screen">
        <param name="publish_frequency" value="25"/>
        <remap from="robot_description" to="kitchen_description"/>
        <remap from="joint_states" to="kitchen/joint_states" />
        <param name="tf_prefix" value="iai_kitchen" />
    </node>


    <!-- PR2 Stuff -->
    <group if="$(arg upload)">
        <param name="robot_description"
            command="$(find xacro)/xacro.py
                '$(find pr2_description)/robots/pr2.urdf.xacro'"/>
    </group>

    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch" />
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch" />

</launch>
