<launch>
    <arg name="upload" default="true"/>

    <param name="shelve_description" command="$(find xacro)/xacro.py
        '$(find cram_pr2_shopping_demo)/resource/shelve.urdf'"/>

    <node pkg="tf" type="static_transform_publisher" name="shelve_link_broadcaster" 
        args="0 0 0 0 0 0 /map /shelve_origin 25"></node>

    <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="joint_state_publisher" output="screen">
        <remap from="robot_description" to="shelve_description"/>
        <param name="rate" value="25"/>
        <param name="use_gui" value="False"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" 
        name="shelve_state_publisher" output="screen">
        <param name="publish_frequency" value="25"/>
        <remap from="robot_description" to="shelve_description"/>
    </node>


    <group if="$(arg upload)">
        <param name="robot_description"
            command="$(find xacro)/xacro.py
                '$(find pr2_description)/robots/pr2.urdf.xacro'"/>
    </group>

    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch" />
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch" />

</launch>
