<launch>
  <rosparam command="load" file="$(find pr2_object_manipulation_launch)/config/pr2_hand_descriptions.yaml"/>

  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/> -->

  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_planning)/launch/ompl_planning.launch"/> -->

  <!-- Alive To be lauched -->
  <include file="$(find pr2_arm_navigation_planning)/launch/chomp_planning.launch"/>

  <!-- launched in ias_drawer_executive
  <include file="$(find planning_environment)/launch/environment_server.launch"/> -->

  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_filtering)/launch/trajectory_filter.launch"/> -->

  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/> -->
  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_kinematics)/launch/left_arm_collision_free_ik.launch"/> -->

  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_actions)/launch/move_right_arm.launch"/> -->
  <!-- launched in ias_drawer_executive
  <include file="$(find pr2_arm_navigation_actions)/launch/move_left_arm.launch"/> -->

  <!-- launched in ias_drawer_executive
  <node pkg="joint_trajectory_generator" type="joint_trajectory_generator" output="screen"
        name="joint_trajectory_generator" ns="r_arm_controller" >
    <param name="max_acc" value="2.0" />
    <param name="max_vel" value="2.5" />
  </node> -->

  <!-- launched in ias_drawer_executive
  <node pkg="joint_trajectory_generator" type="joint_trajectory_generator" output="screen"
        name="joint_trajectory_generator" ns="l_arm_controller" >
    <param name="max_acc" value="2.0" />
    <param name="max_vel" value="2.5" />
  </node> -->
  
  <!-- a respawn-able listener node -->

  <!-- Alive -> To be lauched -->
  <node name="pr2_gripper_grasp_planner_cluster" pkg="pr2_gripper_grasp_planner_cluster"
        type="point_cluster_grasp_planner_server.py" output="screen">
    <rosparam>
      z_up_frame: base_footprint
      backoff_depth_steps: 8
    </rosparam>
  </node>

  <!-- <include file="$(find pr2_gripper_grasp_controller)/launch/both_grippers_finger_sensor_grasp_posture_action.launch"/> -->

  <!-- <node name="reactive_grasp_node_right" pkg="pr2_gripper_reactive_approach" -->
  <!--   type="reactive_grasp_server.py" args="r" respawn="false" output="screen"> -->
  <!--   <param name="use_slip_controller" value="true"/> -->
  <!--   <param name="use_slip_detection" value="true"/> -->
  <!-- </node> -->
  
  <!-- <node name="reactive_grasp_node_left" pkg="pr2_gripper_reactive_approach" -->
  <!--   type="reactive_grasp_server.py" args="l" respawn="false" output="screen"> -->
  <!--   <param name="use_slip_controller" value="true"/> -->
  <!--   <param name="use_slip_detection" value="true"/> -->
  <!-- </node> -->

</launch>
