<launch>
  <!-- START UP RVIZ VISUALIZATION OF OBJECT MODELS FOR PANCAKE FLIPPING -->
  <!-- spatula models -->
  <node name="l_spatula_model" pkg="itasc" type="spatula_model_bremen_1.py" args="http://ias.cs.tum.edu/kb/spatula-features.owl#Spatula_LvaYsvy6"/>
  <node name="r_spatula_model" pkg="itasc" type="spatula_model_bremen_1.py" args="http://ias.cs.tum.edu/kb/spatula-features.owl#Spatula_Rkpqmqf1"/>
  <!-- table model with oven -->
  <!-- node name="baker_model" pkg="itasc" type="baker_model.py" args="/table" -->
  <!-- publish extra frame from pancake to to oven -->

  <!-- START UP FEATURE VISUALIZATION -->
  <node name="left_feature_viz" pkg="feature_constraints_utils" type="feature_viz.py" output="screen">
    <param name="~base_frame" value="/http://ias.cs.tum.edu/kb/spatula-features.owl#Pancake_PjkWnkr1"/>
    <remap from="constraint_config" to="/left_arm_feature_controller/constraint_config"/>
  </node>
  <node name="right_feature_viz" pkg="feature_constraints_utils" type="feature_viz.py" output="screen">
    <param name="~base_frame" value="/http://ias.cs.tum.edu/kb/spatula-features.owl#Pancake_PjkWnkr1"/>
    <remap from="constraint_config" to="/right_arm_feature_controller/constraint_config"/>
  </node>
</launch>
