<launch>
  <!-- LOAD VELOCITY-RESOLVED ARM CONTROLLERS IN STOPPED STATE -->
  <include file="$(find ias_mechanism_controllers)/launch/pr2_multi_vel_load.launch"/>

  <!-- LOAD FILTER PARAMETERS FOR CONSTRAINT VELOCITY ESTIMATION -->
  <rosparam command="load" file="$(find feature_constraints_standalone)/launch/constraint_velocity_filter_chain_params.yaml"/>
  
  <!-- START UP FEATURE CONTROLLERS WITH TOPIC REMAPS -->
  <node name="left_arm_feature_controller" launch-prefix="xterm -e gdb -args" type="constraint_controller" pkg="feature_constraints_standalone" output="screen">
    <param name="~tool_frame" value="l_gripper_tool_frame"/> <!-- refactor into 'arm_tool_frame' -->
    <param name="~robot_base_frame" value="base_link"/>
    <param name="~map_frame" value="base_link"/>
    <param name="~base_frame" value="torso_lift_link"/> <!-- refactor into 'arm_base_frame' -->
    <param name="~joint_limit_avoidance" value="true"/>
    <remap from="~qdot" to="/l_arm_vel/command"/>
  </node>

  <!-- START UP FEATURE VISUALIZATION -->
  <!--node name="left_feature_viz" pkg="stuff" type="feature_viz.py" output="screen">
    <param name="~base_frame" value="/ketchup_frame"/>
    <remap from="constraint_config" to="/left_arm_feature_controller/constraint_config"/>
  </node-->

</launch>
