<launch>
  <!-- LOAD VELOCITY-RESOLVED ARM CONTROLLERS IN STOPPED STATE -->
  <include file="$(find ias_mechanism_controllers)/launch/pr2_multi_vel_load.launch"/>

  <!-- START UP RELAY FOR TF FRAMES -->
  <node name="tf_relay" type="realtime_tf_relay" pkg="realtime_tf_relay" output="screen"/>

  <!-- START UP FEATURE CONTROLLERS WITH TOPIC REMAPS -->
  
  <!-- TODO: SOMEHOW GET RID OF THIS -->
  <!-- GET RELEVANT FRAMES INTO TF -->

  
</launch>
