<launch>

 <arg name="hsrb" default="false"/>
 <arg name="boxy" default="false"/>
 <arg name="pr2" default="false"/>


  <!-- occupancy map -->
  <include file="$(find iai_maps)/launch/map.launch" />

  <!-- kitchen URDF -->
  <param name="kitchen_description"
         command="$(find xacro)/xacro.py '$(find iai_kitchen)/urdf_obj/iai_kitchen_python.urdf.xacro'"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="kitchen_joint_state_publisher" output="screen">
    <remap from="robot_description" to="kitchen_description"/>
    <param name="rate" value="25"/>
    <param name="use_gui" value="False"/>
    <remap from="joint_states" to="kitchen/joint_states" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="kitchen_link_broadcaster"
        args="0 0 0 0 0 0 /map /iai_kitchen/world 25">
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher"
    name="kitchen_state_publisher" output="screen">
    <param name="tf_prefix" value="iai_kitchen"/>
    <param name="publish_frequency" value="25"/>
    <remap from="robot_description" to="kitchen_description" />
    <remap from="joint_states" to="kitchen/joint_states" />
  </node>

   <!--
   <node pkg="robot_state_publisher" type="robot_state_publisher"
     name="robot_state_publisher" output="screen">
     <param name="publish_frequency" value="25"/>
   </node> -->

  <group if="$(arg hsrb)">
    <param name="robot_description"
           command="$(find xacro)/xacro.py
                    '$(find hsr_description)/robots/hsrb4s.urdf.xacro'"/>
 	<!-- HSR IK solver -->
 	<include file="$(find kdl_ik_service)/launch/kdl_ik.launch" />
   </group>

 <group if="$(arg boxy)">
  <!-- Boxy URDF -->
  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch" />
  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" -->
  <!--       name="robot_joint_state_publisher" output="screen"> -->
  <!--   <param name="rate" value="25"/> -->
  <!--   <param name="use_gui" value="False"/> -->
  <!-- </node> -->
  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" -->
  <!--   name="robot_state_publisher" output="screen"> -->
  <!--   <param name="publish_frequency" value="25"/> -->
  <!-- </node> -->

  <!-- boxy naive kinematics simulator -->
  <!-- <arg name="sim" default="true" /> -->
  <!-- <arg name="plot" default="false" /> -->
  <!-- <arg name="rviz" default="true" /> -->
  <!-- <include file="$(find giskard_boxy)/launch/interactive_markers.launch" > -->
  <!--   <arg name="sim" value="$(arg sim)" /> -->
  <!--   <arg name="plot" value="$(arg plot)" /> -->
  <!--   <arg name="rviz" value="$(arg rviz)" /> -->
  <!-- </include> -->
  <!-- <include file="$(find wsg_50_simulation)/launch/wsg_50_for_kinematic_sim.launch" /> -->

  <!-- Boxy IK solver -->
   <include file="$(find kdl_ik_service)/launch/kdl_ik.launch" />

 </group>


 <group if="$(arg pr2)">
  <!-- PR2 URDF -->
   <param name="robot_description"
          command="$(find xacro)/xacro.py
                   '$(find pr2_description)/robots/pr2.urdf.xacro'"/>
  
  <!-- PR2 IK solver -->
  <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch" />
  <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch" />

 </group>

  <!-- TF buffer server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf_server" output="screen" />

 
</launch>
